.main {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-born {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-born > div[class^=main-born-] {
  position: absolute;
  bottom: 40%;
  font-size: 0;
}

.main-hair {
  width: 5rem;
}

.main-miao {
  height: 15rem;
}

.main-born-1 {
  left: 10%;
}
.main-born-2 {
  left: 50%;
  transform: translateX(-50%);
}
.main-born-3 {
  right: 10%;
}